#Navbar{
    background-color: #263847;
}

#HeroImg{
    background: rgba(0, 0, 0, .65) url('../img/hero-bg.png');
    background-blend-mode: darken;
    /* background-image: url('img/hero-bg.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-darken{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
}